{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h1>시작페이지</h1>
{% for account in accounts %}
    {{account.id}} : {{account.username}}
    <br>
    {{account.first_name}}
    {{account.last_name}}
    <br>
{% empty %}
    <h1>없음</h1>
{% endfor %}

{% for post in posts %}
    {{post.content}}
    <img src="{{ post.image.url }}">
    <img src="{{ post.image_thumnail.url }}">
{% empty %}
    <h1>없음</h1>
{% endfor %}

<a href="{% url 'posts:create' %}"> 글쓰기</a>

{% endblock content %}